<!DOCTYPE html>
<html>
<head>
	<title>Add App</title>
  <style type="text/css">
    body{
      background:#F5F5F5;
      color:#000;
      margin:0;
      padding:0;
      direction:ltr;
      font-size:13px;
      font-family:-apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
      line-height:1.154;
      font-weight:400;
      -webkit-font-smoothing:subpixel-antialiased;
      -moz-osx-font-smoothing:auto
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    a {
      padding: 7px 16px 8px;
      margin: 0;
      font-size: 12.5px;
      display: inline-block;
      zoom: 1;
      cursor: pointer;
      white-space: nowrap;
      outline: none;
      font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
      vertical-align: top;
      line-height: 15px;
      text-align: center;
      text-decoration: none;
      background: none;
      background-color: #5e81a8;
      color: #fff;
      border: 0;
      border-radius: 2px;
      box-sizing: border-box;
    }
  </style>
</head>
<body>
<div id="content" style="width:100%;height:100%;">
<div class="center" style="width:600px;margin:0 auto;display:table;margin-top:200px;">
<div>
Привет, подключи <b>VKPay</b> в свое сообщество и начни <b>зарабатывать прямо сейчас!</b><br><font color="#BDBDBD"><b>Или никогда.</b></font>
</div>
<br>
<a target="_blank" href="https://vk.com/add_community_app?aid=6227537">Подключить сообщество</a>
</div>


</div>
</body>
</html>