<div class="center" style="width:600px;margin:0 auto;display:table;margin-top:200px;">
<div>
Привет, <b>VKPay</b> автоматизирует прием и оплату заказов в твоем сообществе.<br>
Подключи приложение в свой магазин и начни <b>зарабатывать сейчас</b> или никогда.
</div>
<br>
<button onclick="VK.callMethod('showGroupSettingsBox', 131072 + 4096 + 4 + 262144);">Подключить сообщество</button>
</div>